<ngx-spinner fullScreen="false">
    <p style="font-size: 20px; color: white">{{'processing' | translate}}</p>
</ngx-spinner>
<!-- table -->
<div class="row">
    <div class="col-sm-12">
        <div class="card shadow-lg card-body">
            <table datatable [dtOptions]="dtOptions" style="width: 100% !important;" [dtTrigger]="dtTrigger"
                   class=" table-hover table-bordered">
                <thead class="bg-base-color text-white text-center">
                <tr>
                    <th>ID</th>
                    <th>Product and Quantity</th>
                    <th>Price</th>
                    <th>Customer</th>
                </tr>
                </thead>
                <tbody *ngIf="orders?.length != 0">
                <tr *ngFor="let order of orders" class="text-center">
                    <td>{{ order.id }}</td>
                    <td>
                        <table style="width: 100% !important;" class="table table-hover table-striped">
                            <tr *ngFor="let prod_order of order.orderedProducts">
                                <td class="text-left">{{prod_order.product.productName}}</td>
                                <td class="text-right">{{prod_order.product.sellingPrice}}</td>
                                <td class="text-right">{{prod_order.qty}}</td>
                                <td class="text-right">{{prod_order.qty* prod_order.product.sellingPrice}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>{{order.total}}</td>
                    <td>{{order.user.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
